* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
html {
    background-color: hsl(275, 100%, 14%);
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;

}

body {
    /* height: 100vh;
    margin-bottom: 40vh; */
    background-color: hsl(190, 50%, 10%);
    background-color: #ddd;
    /* overflow: hidden; */
}

body * {
    /* *For Development */
    /* border: 1px dotted red !important; */
}

/* ---------- ---------- ---------- -------- ---------- ---------- ---------- */

input:not([type="radio"]) {
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 0.75rem;
    margin: 0.15rem 0.30rem;

}

nav {
    height: 5vh;
    background-color: rgb(255, 0, 217);
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    color: hsl(180, 100%, 25%);
}

nav>section {
    background-color: rgb(0, 71, 71);
    width: 4rem;
    height: 100%;
    border: none;
    flex-grow: 1;
    z-index: 1;
    /* background-image: linear-gradient( 270deg, hsl(190, 50%, 10%),hsl(190, 50%, 30%)); */

}

nav>section>button {
    height: 100%;
    width: 100%;
    border: none;
    color: rgb(0, 120, 120);
    /* border-left: 5px solid #808080; */
    background-color: hsl(190, 100%, 5%);

}

nav>section>button:hover {
    /* filter: brightness(1.2); */
    color: hsl(180, 100%, 35%);

}

/* ----- ---------- ----------* Hover */

nav>section>div {
    /* background-color: #fffc; */
    /* color: #000; */
    padding: 2vh 4vw;
    flex-direction: column;
    position: absolute;
    /* display: none; */
    display: flex;
}

nav>section:hover>div {
}

.infoDiv {
    height: 84vh;
    width: 90vw;
    max-width: 95vw;
    max-height: 90%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: teal #3f3f3f;
    resize: both;
    font-size: 1rem;
    background-color: #000c;
    color: hsl(180, 100%, 50%);
    color: hsl(180, 100%, 25%);

    color: hsl(180, 100%, 35%);
    
}

.infoDiv p {
    text-align: left;
}

.igDiv {
    align-items: center;
    /* height: 35vh; */
    background-color: #000c;
    right: 3.5rem;


    & input:not([type="radio"]) {
        width: 50%;
        font-size: 1.25rem;
        width: 40%;
        height: 1.75rem;
    }

    & input:read-only {
        background-color: rgb(211, 249, 255);
    }
}

.dateDiv {
    right: 0.25rem;
    text-align: right;
    padding: 0;
    color: rgb(255, 96, 160);
    text-shadow: rgb(255, 57, 123) -2px -0px 15px;
    & div:not(:last-of-type) {
        font-weight: 600;
    }
    & div {
        flex-direction: column;
        display: flex;
    }

}



/* ----- ---------- ----------* NAV END *---------- ---------- ----- */
/* ---------- ---------- ---------- -------- ---------- ---------- ---------- */

main {
    height: 90vh;
    width: min(100%, 1200px);
    margin: auto;
    overflow: hidden;
}

/* ----- ---------- ----------* ALGO *---------- ---------- ----- */
article {
    margin: auto;
    height: 100%;
}

.stepTitle {
    vertical-align: middle;
    height: 10vh;
    background-color: hsl(195, 74%, 12%);
    background-image: linear-gradient( 270deg, hsl(190, 50%, 5%),hsl(190, 50%, 10%));
    text-transform: capitalize;
    font-size: 1.75rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    color: hsl(9, 100%, 64%);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.stepPar {
    height: 30vh;
    font-size: 1.5rem;
    background-color: teal;
    align-content: center;
    color: cornsilk;
    color: hsl(35, 100%, 64%);
    background-image: linear-gradient( 270deg, hsl(190, 50%, 5%),hsl(190, 50%, 10%));
    border-bottom: 3px solid black;
    
}

.stepSec {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding-bottom: 0.5px;
}

.stepSec>button {

    color: #404040;
    border: none;
    cursor: pointer;

    width: 100%;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    align-items: center;
    flex-grow: 1;

    /* transition: 1500ms; */
    border-bottom: 3px solid black;
    color: #00bf00;
    background-image: linear-gradient( 270deg, hsl(190, 50%, 5%),hsl(190, 50%, 10%));
    box-shadow: 4px 2px 5px 1.25px  #00ee00;
    margin-bottom: 0px;
}

.stepSec>button:hover {
    color: #01eb01;
    text-shadow: #00ee00 0 0 1px;
    box-shadow: 4px 2px 5px 2px  #00d800;

    background-image: linear-gradient( 270deg, hsl(190, 50%, 5%),hsl(190, 50%, 10%));
}





















/* ----- ---------- ----------* END *---------- ---------- ----- */
.hide {
    display: none;
}

/* ---------- ---------- ---------- -------- ---------- ---------- ---------- */
@media screen and (width >=480px) {
    html {
        font-size: 16.5px;
    }
}

@media screen and (width >=720px) {
    html {
        font-size: 17px;
    }
}

@media screen and (width >=1080px) {
    html {
        font-size: 17.5px;
    }
}

@media screen and (width >=1440px) {
    html {
        font-size: 18px;
    }
}